.photo-grid {
  max-width: 1184px;
  margin: 0 48px 92px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  gap: 16px;
}

@media screen and (max-width: 1300px) {
  .photo-grid {
      margin: 0 16px 88px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
      margin: 0 16px 88px;
      gap: 12px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
      margin: 0 16px 64px;
  }
}