.header {
  max-width: var(--max-width-basic);
  margin: 28px var(--margin-sides-large) 56px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header {
      margin: 28px var(--margin-sides-large) 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
      margin: 28px var(--margin-sides-normal) 48px;
  }
}

@media screen and (max-width: 320px) {
  .header {
      margin: 16px var(--margin-sides-small) 48px;
  }
}