.places__place__image {
  max-width: 460px;
  max-height: fit-content;
}

@media (max-width: 1024px) {
  .places__place__image {
    max-width: 440px;
  }
}

@media (max-width: 768px) {
  .places__place__image {
    max-width: 340px;
  }
}

@media (max-width: 320px) {
  .places__place__image {
    max-width: 288px;
  }
}